.calc-cont {
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px;
}

.calc-cont h1 {
    text-align: center;
    font-family: calibri;
}

#display-wrap {
    width: 100%;
    text-align: center;
}

#display {
    width: 90%;
    text-align: right;
    padding: 3px;
    font-size: 30px;
    font-family: calibri;
    background-color: rgb(0, 150, 0);
    color: black;
    border: 2px solid #444;
    border-radius: 2px;
    margin: 0 auto;
    overflow: auto;
    text-wrap:nowrap;
}

#display::-webkit-scrollbar {
    width: 10px;
}

#display::-webkit-scrollbar-thumb {
    background-color: rgb(0, 120, 0);
}

#btns-wrap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    margin: 10px 0;
}

.calc-button {
    font-size: 25px;
    font-family: calibri;
}

.bolden {
    font-weight: bolder;
}

.top-keys {
    margin: auto 0;
}

.top-keys:first-child {
    grid-column: 4;
}

#equal-btn {
    grid-row: 4 / span 2;
    grid-column: 5;
}

.blink {
    animation: blink 0.1s;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}