@font-face {
    font-family: digital;
    src: url(./digital-7/digital-7.ttf);
    font-display: block;
}

:root {
    --digit-size: 3rem;
    --main-btn-color: white;
    --bg-duration: .5s;
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: light-dark(white, #222);
    transition-property: background-color;
    transition-duration: var(--bg-duration);

    overflow: hidden;
}

#header {
    padding: .3rem;
    display: flex;
    justify-content: right;
    width: 100%;
    box-sizing: border-box;
}

#theme-btn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: .2rem;
    box-sizing: content-box;
}

#theme-btn svg {
    fill: light-dark(black, white);
    transition: .3s;
    width: 100%;
    height: 100%;
}

@starting-style {
    #theme-btn svg {
        fill: light-dark(white, black);
    }
}

#theme-btn:hover {
    background-color: light-dark(yellow, grey);
}

.dark #theme-btn #light-svg {
    display: none;
}

#theme-btn #dark-svg {
    display: none;
}

.dark #theme-btn #dark-svg {
    display: initial !important;
}

#main-wrap {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

#calculator {
    user-select: none;
    background-color: light-dark(#ddd, #333);
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
    transform-origin: 50% 50%;
    transition-property: background-color;
    transition-duration: var(--bg-duration);
}

#calc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-size: 1.2rem;
}

#calc-head div:first-of-type {
    font-weight: bold;
    color: red;
    font-size: 2rem;
}

#calc-head div:first-of-type span {
    color: light-dark(black, white);
}

#display-wrap {
    position: relative;
    background-color: #0c0;
    padding: .5rem;
    border-radius: .5rem;
    width: min-content;
    margin: .5rem auto;
    color: black;
}

#main-display {
    position: relative;
}

.hide {
    opacity: 0;
}

#display-wrap div::before {
    opacity: .1;
}

#e-elem,
#m-elem {
    position: absolute;
    font-family: arial;
    font-weight: bold;
}

#e-elem::before {
    content: "E";
}

#m-elem {
    bottom: 0;
}

#m-elem::before {
    content: "M";
}

#main-display {
    top: 0;
    height: 100%;
    width: 100%;
    font-family: digital;
    display: flex;
}

#end-minus {
    position: relative;
}

#end-minus::before {
    content: "-";
}

#digit-wrap {
    font-size: var(--digit-size);
    width: fit-content;
    display: flex;
}

.digit {
    text-align: right;
    position: relative;
    display: flex;
    justify-content: right;
}

.digit::before {
    content: "8";
}

.decimal {
    position: relative;
}

.decimal::before {
    content: ".";
}

.display {
    position: absolute;
    top: 0;
    width: 100%;
    /* text-align: center; */
}

.minus {
    text-align: center;
}

#buttons-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: .5rem;
    justify-content: center;
}

#buttons-wrap button {
    font-family: monospace;
    cursor: pointer;
}

.pressed {
    scale: .9;
}

#buttons-wrap button {
    outline-offset: .2rem;
    outline-width: .15rem;
}

#buttons-wrap button:active {
    scale: .9;
}

#top-wrap {
    grid-column: span 5;
    display: flex;
    width: 100%;
}

#clear-btns-wrap {
    display: flex;
    flex: 1 1 auto;
}

.clear-btn {
    height: 2rem;
    margin: 0 .3rem;
}

#memory-btns-wrap {
    display: flex;
    align-items: center;
}

#memory-btns-wrap button {
    background-color: #f33;
    border: none;
    color: white;
    padding: .2rem;
    font-size: 1.1rem;
    width: 2.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#memory-btns-wrap button:first-of-type {
    border-radius: .2rem 0 0 .2rem;
}

#memory-btns-wrap button:last-of-type {
    border-radius: 0 .2rem .2rem 0;
}

#memory-btns-wrap button:hover {
    background-color: #f44;
}

#memory-btns-wrap button:focus {
    outline-color: #f33;
}

.main-btn {
    box-sizing: border-box;
    width: 100%;
    font-size: 2rem;
    justify-self: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #44f;
    color: var(--main-btn-color);
    border-radius: .2rem;
}

.main-btn:hover {
    background-color: #55f;
}

.main-btn:focus {
    outline-color: #44f;
}

.main-btn:not(#equal-btn) {
    aspect-ratio: 1;
}

.main-btn svg {
    fill: var(--main-btn-color);
}

#backspace-btn svg {
    height: inherit;
}

#square-btn sup {
    font-size: 50%;
}

#square-root-btn svg {
    height: 50%;
}

#equal-btn {
    grid-row: span 2;
}

#footer {
    font-family: helvetica;
    text-align: center;
    padding: .7rem;
    background-color: #f33;
    width: 90%;
    margin: auto;
    border-radius: .5rem .5rem 0 0;
    color: white;
    font-size: 1.3rem;
}

#footer a {
    color: white;
}