* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calc-div {
    margin: auto;
}

#footer {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    background-color: #f55;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    width: 50vw;
}

#footer a {
    color: black;
}